.select2-selection {
    background: $background!important;
    height: 46px!important;



}

.select2-selection__rendered {
    height: 30px;
    padding-top: 8px!important;
    padding-left: 8px!important;
}