// .custom_modal {
//     background-color: $offWhite;
//     border: none;
//     padding: 48px;
//     border-radius: 8px;
//     box-shadow: $modalShadow;

//     .modal-header {
//         padding: 0px 0px 32px 0px;
//         margin: 0px;
//         border: none;

//         .modal-title {
//             margin-bottom: 0;
//         }

//     }  
    
//     .modal-body {
//         margin: 0;
//         padding: 0;
//     }

//     .modal-footer {
//         border: none;
//         padding: 32px 0 0 0;
//         margin: 0px;
//     }

// }

    .modal-content {
        background: #22252D;
        padding: 15px 15px 10px 15px;
        border: 1px solid rgba(228, 228, 228, 0.1);
        box-shadow: 0px 40px 64px -24px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    .modal-title {
        color: #EEF1F5;
    }